{% extends 'window.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">{{object.name}}</h1>
    <p class="lead">A project is divided into distinct stages that have milestones that are used to evaluate project progress.
    In each stage, you as the farmer record actions taken during that stage.
    A farmer can also record, inputs purchased for that stage as well as expenses incurred during that stage of production.
    A farmer can also record produce obtained during any stage, (extract produce e.g. picking eggs, harvesting greens, milking cows etc.)
    A farmer can also make use of agents to perform actions on behalf of the project or to be responsible for a particular stage of the project.
</p>
    <hr class="my-2">
    <div class="dropdown">
        <button class="btn primary dropdown-toggle" type="button" id="project-actions" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="project-actions">
            <a class="dropdown-item" href="{% url 'projects:create-project' %}">Create New</a>
            <a class="dropdown-item" href="{% url 'projects:update-project' pk=project.pk %}">Edit</a>
            <h6 class="dropdown-header">Stages</h6>
            <a class="dropdown-item" href="{% url 'projects:create-activity' project=project.pk %}">Add Stage</a>
            <h6 class="dropdown-header">Agents</h6>
            <a data-in-modal="true" class="dropdown-item" href="{% url 'projects:create-agent' project=object.pk %}">Add Agent</a>
            <a data-in-modal="true" class="dropdown-item" href="{% url 'projects:create-role' %}">Define Agent Roles</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Start: {{project.start_date}}</p>
                    <p class="card-text">Type: {{project.type_string}}</p>
                    <hr class="my-4">
                    <p class="card-text">Description: {{project.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Activity Summary</h4>
                    <p class="card-text"># Activities</p>
                    <p class="card-text"># Milestones</p>
                    <p class="card-text">Estimated Costs</p>
                    <p class="card-text">Costs so Far</p>
                    <p class="card-text">Projected Revenue</p>
                    <p class="card-text">Current Activity</p>
                    <p class="card-text">Last Activity</p>
                    <p class="card-text">Next Activity</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Activity List

                    </h4>
                    {% for stage in object.activity_set.all %}
                        {% include "projects/activity/card.html" %}
                    
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}