{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid " style='background-image:url({% static "common/images/cabbage.jpg" %});background-size:cover;'>
    <div class="container">
        <h1 class="display-3">...The EARTH</h1>
        <p class="lead">Be productive, Be smart, Think agriculture</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn secondary btn-lg" href="Jumbo action link" role="button">View Dashboard</a>
        </p>
    </div>
</div>

{% endblock content %}