.shadow {
    border: 1px solid #eee;
    padding: 20px ;
    box-shadow: 0px 19px 38px #ccc;
    margin-bottom: 40px;
}

input:required, textarea:required, select:required {
    background-color: #98d5bf;
}

.card h4, .card h5 {
    font-weight: 250;
}


.primary {
    background-color: #155e63;
    color: #f9f8eb;

}

.secondary {
    background-color: #76b39d;
    color: #155e63;
}

.tertiary {
    background-color: #f9f8eb;
    color: #155e63;
}

.quarternary {
    background-color: #98d5bf;
}

.jumbotron {
    background-color: #76b39d;
    color: #155e63;
}

footer.primary a {
    text-decoration: none;
    color: white;
}